<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target includeMode="feature" name="E4 Target Platform for EEF" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.2.1.M20120914-1800"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="com.google.guava" version="10.0.1.v201203051515"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
</locations>
<includeBundles>
<feature id="org.eclipse.e4.rcp"/>
<plugin id="com.google.guava"/>
<feature id="org.eclipse.emf.common"/>
<feature id="org.eclipse.emf.ecore"/>
</includeBundles>
</target>
